* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Inria Serif', serif;
    font-weight: 700;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, .70) 0%, rgba(0, 0, 0, 1) 100%), url('../img/water.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
}

.header__logo {
    width: 82px;
    height: 82px;
    margin-left: 10px;
    background: url('../img/IL.png') no-repeat center;
    border-radius: 50%;
}

/*burger*/

.visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hamburger {
    margin-right: 40px;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 2px;
    background-color: white;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.checkbox1:checked + label > .hamburger1 > .bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
}

/*end*/

.header__navigation {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 40px;
    font-family: 'Inria Serif', serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    top:0;
}

.display_flex{
    display: flex;
}

.overflow_hidden{
    overflow: hidden;
}


.navigation__link {
    margin-bottom: 20px;
    transition: all 0.5s;
}

.navigation__link:hover{
    transform: scale(1.1)
}

.header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.title__profession {
    font-family: 'Inria Serif', serif;
    font-size: 23px;
    font-weight: 300;
}

.title__name {
    margin: 20px;
    font-size: 85px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.title__btn {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border: 2px solid white;
    outline: none;
    transition: all 0.5s;
}

.title__btn:hover {
    background-color: #fff;
    color: black;
    transform: scale(1.1);
    cursor: pointer;
}

.section-title {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.about__section-title {
    margin-top: 100px;
}

.section-title::before {
    content: '';
    display: block;
    margin: 0 auto 50px;
    width: 95%;
    height: 1px;
    background-color: rgba(26, 26, 26, .2);
}

.about__section-title::before {
    display: none;
}

.about__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
}

.about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    margin: 0 auto 30px auto;
    width: 320px;
}

.about__title {
    margin-top: 140px;
    text-transform: uppercase;
}

.about__title::after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 110px;
}

.cook__title::after {
    background-image: url('../img/icons8-%D0%B3%D1%83%D0%B0%D0%BA%D0%B0%D0%BC%D0%BE%D0%BB%D0%B5-100.png');
}

.travel__title::after {
    background-image: url('../img/icons8-%D0%B2%D0%BE%D0%BA%D1%80%D1%83%D0%B3-%D1%81%D0%B2%D0%B5%D1%82%D0%B0-100.png');
}

.sport__title::after {
    background-image: url('../img/icons8-%D0%BA%D0%B0%D0%B9%D1%82%D1%81%D0%B5%D1%80%D1%84%D0%B8%D0%BD%D0%B3-100.png');
}

.bartender__title::after {
    background-image: url('../img/icons8-%D0%BA%D0%BE%D0%BA%D1%82%D0%B5%D0%B9%D0%BB%D1%8C-100.png');
}

.about__text {
    margin-top: 20px;
    padding: 0 10px;
    line-height: 22px;
    text-align: center;
}

.skills__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 250px;
    margin: 30px auto;
    padding: 5px 5px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px black;
    transition: all 0.5s;
}

.skills__item:hover{
    transform:translate(-3px, -3px);
    box-shadow: 4px 4px 5px 2px black;
    background-color: rgba(0, 0, 0, 0.8);
}

.skills-name {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    margin-top: 15px;
    font-size: 14px;
}

.skills__title {
    margin-top: 140px;
    margin-bottom: 20px;
    text-align: center;
}

.skills__title::after {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    left: 50%;
    top: 25px;
    -webkit-background-size: cover;
    background-size: cover;
}

.title-web::after {
    background-image: url(../img/icons8-%D0%BD%D0%B0%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8-3-100.png);
}

.title-frontend::after {
    background-image: url(../img/icons8-%D0%BA%D0%BE%D0%B4-100.png);
}

.title-design::after {
    background-image: url(../img/icons8-%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD-100.png);
}

.title-framework::after {
    background-image: url(../img/icons8-%D1%80%D0%B5%D0%BF%D0%BE%D0%B7%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D0%B9-100.png);
}

.progress {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.progress__cell {
    display: block;
    height: 10px;
    background-color: #ececec;
    margin-right: 2px;
    transition: all 0.5s;
}

.skills__item:hover > .skills-name > .progress > .progress__cell {
	background-color: rgba(0, 0, 0, 0.8);
}

.cell_active {
    background-color: black;
}

.skills__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color:white;
    opacity: 0;
    transition: all 0.5s;
}

.skills__text:hover {
    opacity: 1;
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__item {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

.portfolio__item:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.portfolio__img {
    position: relative;
    max-height: 360px;
    margin: 0 auto;
    box-shadow: 0 0 8px 0 black;
}


.img__phone {
    position: absolute;
    right: -100px;
    bottom: -25px;
    z-index: 2;
}

.phone-phlox {
    left: -100px;
}

.portfolio__information {
    margin: 0 auto;
    width: 40%;
}

.information__title {
    font-size: 20px;
}

.information__text {
    margin-top: 15px;
}

.information__tools {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.tools__title {
    font-weight: 700;
    margin-bottom: 10px;
}

.contacts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 15px;
}

.details span:nth-child(1) {
    font-weight: 700;
}

.social__item {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover;
    transition: all 0.5s;
}

.social__item:hover {
    transform: scale(1.1);
}

.social__inst {
    background-image: url('../img/icons8-instagram-50.png');
}

.social__vk {
    background-image: url('../img/icons8-vk-%D0%B2-%D0%BA%D1%80%D1%83%D0%B3%D0%B5-50.png');
}

.social__git {
    background-image: url('../img/icons8-github-50.png');
}

.contacts__img {
    border-radius: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: black;
    color: rgba(255, 255, 255, .4);
}

.footer__logo {
    width: 83px;
    height: 83px;
    margin-top: 30px;
    background: url('../img/IL.png') center no-repeat;
    border-radius: 50%;
}

.footer__link {
    margin-right: 20px;
    font-size: 18px;
    color: rgba(255, 255, 255, .7);
    transition: all 0.5s;
}

.footer__link:hover {
    color: white;
}

.footer__navigation {
    margin-top: 30px;
}

.footer__copyright {
    margin-top: 20px;
    margin-bottom: 10px;
}
